<div class="container">
  <h2>Nastavnik registracija</h2>
  <form>
    <div class="form-group">
      <label for="korisnickoIme">Korisnicko Ime:</label>
      <input type="text" id="korisnickoIme" [(ngModel)]="nastavnik.korisnicko_ime" name="korisnickoIme" required class="form-control">
    </div>
    <div class="form-group">
      <label for="lozinka">Lozinka:</label>
      <input type="password" id="lozinka" [(ngModel)]="nastavnik.lozinka" name="lozinka" required class="form-control">
    </div>
    <div class="form-group">
      <label for="bezbednosnoPitanje">Bezbednosno Pitanje:</label>
      <input type="text" id="bezbednosnoPitanje" [(ngModel)]="pitanje" name="bezbednosnoPitanje" class="form-control">
    </div>
    <div class="form-group">
      <label for="bezbednosniOdgovor">Bezbednosni Odgovor:</label>
      <input type="text" id="bezbednosniOdgovor" [(ngModel)]="odgovor" name="bezbednosniOdgovor" class="form-control">
    </div>
    <div class="form-group">
      <label for="ime">Ime:</label>
      <input type="text" id="ime" [(ngModel)]="nastavnik.ime" name="ime" required class="form-control">
    </div>
    <div class="form-group">
      <label for="prezime">Prezime:</label>
      <input type="text" id="prezime" [(ngModel)]="nastavnik.prezime" name="prezime" required class="form-control">
    </div>
    <div class="form-group">
      <label>Pol:</label>
      <div class="form-check">
        <input type="radio" id="polM" value="M" [(ngModel)]="nastavnik.pol" name="pol" required class="form-check-input">
        <label for="polM" class="form-check-label">M</label>
      </div>
      <div class="form-check">
        <input type="radio" id="polZ" value="Z" [(ngModel)]="nastavnik.pol" name="pol" required class="form-check-input">
        <label for="polZ" class="form-check-label">Z</label>
      </div>
    </div>
    <br>
    <div class="form-group">
      <label for="adresa">Adresa:</label>
      <input type="text" id="adresa" [(ngModel)]="nastavnik.adresa" name="adresa" required class="form-control">
    </div>
    <div class="form-group">
      <label for="kontaktTelefon">Kontakt Telefon:</label>
      <input type="text" id="kontaktTelefon" [(ngModel)]="nastavnik.kontakt_telefon" name="kontaktTelefon" required class="form-control">
    </div>
    <div class="form-group">
      <label for="emailAdresa">Email Adresa:</label>
      <input type="email" id="emailAdresa" [(ngModel)]="nastavnik.email_adresa" name="emailAdresa" required class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label for="profilnaSlika">Profilna Slika (file):</label>
      <input type="file" (change)="promenaSlike($event)" accept="image/png, image/jpg" class="form-control-file">
    </div>
    <br>
    <div class="alert alert-danger text-center" role="alert" *ngIf="msg!='' && msg !='Uspeh'">
      {{msg}}
    </div>
    <div class="alert alert-success text-center" role="alert" *ngIf="msg=='Uspeh'">
      {{msg}}
    </div>
    <button (click)="nextstep()" class="btn btn-primary">Sledeci korak</button>
  </form>
</div>
<hr>

